server:
  port: 8080
spring:
  application:
    name: My Awesome App
  datasource:
    url: jdbc:mysql://localhost:3306/todo_db
    username: your_username
    password: your_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
logging:
  level:
    org.springframework.web: DEBUG
