<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="footer">
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <div class="logo">WebbyFrames</div>
                <p>THƯ VIỆN TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THÔNG TIN ĐHQG-HCM</p>
                <p>Địa chỉ: Khu phố 6, phường Linh Trung, Thủ Đức, TP.HCM</p>
                <p>Điện thoại: (028) 372 51993 - Ext 128 (Phục vụ)</p>
                <p>Email: thuvien@uit.edu.vn</p>
            </div>
            <div class="footer-right">
                <ul class="footer-menu">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="#">Thể loại</a></li>
                    <li><a href="#">Nhà xuất bản</a></li>
                </ul>
                <div class="social-icons">
                    <a href="#">Facebook</a>
                    <a href="#">YouTube</a>
                    <a href="#">TikTok</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>