<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <div class="navbar">
        <div class="logo">WebbyFrames</div>
        <ul class="menu">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="#">Thể loại</a></li>
            <li><a href="#">Nhà xuất bản</a></li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Tìm kiếm..." />
        </div>
        <div class="auth-buttons">
            <a href="/login" class="btn btn-outline">Đăng nhập</a>
            <a href="#" class="btn btn-primary">Đăng ký</a>
        </div>
    </div>
</div>
</body>
</html>